:root {
  --dark-color: black;
  --bright-color: white;
  --theme-color: rgb(49, 154, 168);
}

* {
  background-color: var(--dark-color);
  color: var(--bright-color);
}

body {
  background-color: var(--theme-color);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
  width: 80vw;
  margin: auto;
}

h1 {
  font-size: 2.5vw;
}

#header {
  display : flex;
  justify-content: flex-end;
}

.details {
  text-align: right;
}

img {
  height: 300px;
}