:root {
  --dark-color: black;
  --bright-color: white;
  --theme-color: rgb(49, 154, 168);
}

* {
  background-color: var(--dark-color);
  color: var(--bright-color);
}

body {
  margin: 0;
}

#nav {
  background-color: aqua;
}

nav {
  display: flex;
  flex-direction: column;
}

#links {
  background-color: lime;
}

h1 {
  font-size: 18vw;
}